<section class="l5r5e sidebar-info">
    <h4 class="divider">{{localize 'WORLD.FIELDS.system.label'}}</h4>
    <div class="l5r5e system-badge">
        <img src="systems/l5r5e/assets/l5r-logo.webp" data-tooltip="{{localize 'l5r5e.title'}}" alt="{{localize 'l5r5e.title'}}">
        <span class="system-info">{{SystemVersion}}</span>
    </div>
    <ul class="unlist links">
        <li>
            <a href="{{localize 'l5r5e.logo.notes.link'}}" target="_blank">
            {{localize 'l5r5e.logo.notes.title'}}
            </a>
        </li>
        <li>
            <a href="{{localize 'l5r5e.logo.issues.link'}}" target="_blank">
                {{localize 'l5r5e.logo.issues.title'}}
            </a>
        </li>
        <li>
            <a href="{{localize 'l5r5e.logo.wiki.link'}}" target="_blank">
                {{localize 'l5r5e.logo.wiki.title'}}
            </a>
        </li>
        <li>
            <a href="{{localize 'l5r5e.logo.custom-compendiums.link'}}" target="_blank">
            {{localize 'l5r5e.logo.custom-compendiums.title'}}
            </a>
        </li>
        <li>
            <a href="{{localize 'l5r5e.logo.discord.link'}}" target="_blank" title="{{localize 'l5r5e.logo.discord.info'}}">
            {{localize 'l5r5e.logo.discord.title'}}
            </a>
        </li>
        <li>
            <a href="{{localize 'l5r5e.logo.drivethrurpg.link'}}" target="_blank" title="{{localize 'l5r5e.logo.drivethrurpg.info"'}}">
            {{localize 'l5r5e.logo.drivethrurpg.title'}}
            </a>
        </li>
        <li>
            <a href="{{localize 'l5r5e.logo.edge.link'}}" target="_blank" title="{{localize 'l5r5e.logo.edge.info'}}">
            {{localize 'l5r5e.logo.edge.title'}}
            </a>
        </li>
    </ul>
</section>