.application {
    background: unset;
    color: var(--color-text-dark-primary);
    
    .scrollable {
        --scroll-margin: 0;
    }
    
    .window-header {
        background: linear-gradient(
            $l5r5e-linear-gradient-second,
            $l5r5e-linear-gradient-second-dark,
            $l5r5e-linear-gradient-second
        );
        .window-title {
            font-family: $font-secondary;
            font-size: 1.25rem;
        }
    }

    .window-content {
        background: rgb(255, 250, 230) url("../assets/imgs/bg-l5r.webp") no-repeat;
        padding: 0.25rem;
    }
}

// More specifified stuff down here as to not make it too hard to read the overriden defaults
.application {
    .window-content {
        table {
            background: transparent;
            border: 1px solid $l5r5e-title;
            thead {
                background: $l5r5e-title;
                color: $l5r5e-label;
                text-shadow: none;
                border-bottom: $l5r5e-title;
            }
            tbody {
            }
            tr {
                &:nth-child(odd) {
                    background: $l5r5e-odd;
                }
                &:nth-child(even) {
                    background: $l5r5e-even;
                }
            }
        }
    }
}