
/* lists */
ul,
li {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

// Elements Colors
.earth {
    color: $l5r5e-earth;
}
.air {
    color: $l5r5e-air;
}
.water {
    color: $l5r5e-water;
}
.fire {
    color: $l5r5e-fire;
}
.void {
    color: $l5r5e-void;
}