<ul class="identity-content">
    <li>
        <label class="attribute-label">
            {{#ifCond data.system.template '==' 'pow'}}
                {{localize 'l5r5e.sheets.region'}}
            {{else}}
                {{localize 'l5r5e.clans.label'}}
            {{/ifCond}}
            <input type="text" name="system.identity.clan" value="{{data.system.identity.clan}}" {{^if data.editable_not_soft_locked}}disabled{{/if}}/>
        </label>
    </li>
    <li>
        <label class="attribute-label">
            {{#ifCond data.system.template '==' 'pow'}}
                {{localize 'l5r5e.sheets.upbringing'}}
            {{else}}
                {{localize 'l5r5e.sheets.family'}}
            {{/ifCond}}
            <input type="text" name="system.identity.family" value="{{data.system.identity.family}}" {{^if data.editable_not_soft_locked}}disabled{{/if}}/>
        </label>
    </li>
    <li>
        <label class="attribute-label">
            {{localize 'l5r5e.sheets.rank'}}
            <input type="number" name="system.identity.school_rank" value="{{data.system.identity.school_rank}}" class="select-on-focus" data-dtype="Number" min="0" placeholder="1" {{^if data.editable_not_soft_locked}}disabled{{/if}}/>
        </label>
    </li>
    <li>
        <label class="attribute-label">
            {{localize 'l5r5e.sheets.school'}}
            <input type="text" name="system.identity.school" value="{{data.system.identity.school}}" {{^if data.editable_not_soft_locked}}disabled{{/if}}/>
        </label>
    </li>
    <li>
        <label class="attribute-label">
            {{localize 'l5r5e.roles.title'}}
            <input type="text" name="system.identity.roles" value="{{data.system.identity.roles}}" {{^if data.editable_not_soft_locked}}disabled{{/if}}/>
        </label>
    </li>
</ul>