<ul class="social-content">
    <li>
        <label class="attribute-label centered-input">
            <strong>{{localize 'l5r5e.social.honor'}}</strong>
            <input class="centered-input select-on-focus" type="number" name="system.social.honor" value="{{data.system.social.honor}}" data-dtype="Number" placeholder="0" {{^if data.editable_not_soft_locked}}disabled{{/if}}/>
        </label>
    </li>
    <li>
        <label class="attribute-label centered-input">
            <strong>{{localize 'l5r5e.social.glory'}}</strong>
            <input class="centered-input select-on-focus" type="number" name="system.social.glory" value="{{data.system.social.glory}}" data-dtype="Number" placeholder="0" {{^if data.editable_not_soft_locked}}disabled{{/if}}/>
        </label>
    </li>
    <li>
        <label class="attribute-label centered-input">
            <strong>{{localize 'l5r5e.social.status'}}</strong>
            <input class="centered-input select-on-focus" type="number" name="system.social.status" value="{{data.system.social.status}}" data-dtype="Number" placeholder="0" {{^if data.editable_not_soft_locked}}disabled{{/if}}/>
        </label>
    </li>
</ul>