<label class="value">
    {{localize 'l5r5e.sheets.quantity'}}
    <input class="select-on-focus" type="number" name="system.quantity" value="{{data.system.quantity}}" data-dtype="Number" min="0" placeholder="0"/>
</label>
<label class="value">
    {{localize 'l5r5e.sheets.weight'}}
    <input class="select-on-focus" type="number" name="system.weight" value="{{data.system.weight}}" data-dtype="Number" min="0" placeholder="0"/>
</label>
<label class="value">
    {{localize 'l5r5e.sheets.rarity'}}
    <input class="select-on-focus" type="text" name="system.rarity" value="{{data.system.rarity}}" data-dtype="String" min="0" placeholder="0"/>
</label>
<label class="value">
    <i class="fas fa-coins"></i>
    <input class="select-on-focus" type="text" name="system.zeni" value="{{data.system.zeni}}" data-dtype="String" min="0" placeholder="0"/>
</label>